<div fxlatout="row">
    <img src="../../../assets/takeAnote/alarmimg.png" style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/takeAnote/colourimg.png" style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/takeAnote/imageimg.png" style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/takeAnote/achiveimg.png" style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/takeAnote/moreimg.png" style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/takeAnote/undoimg.png" style="width: 20px; margin-left:8px; padding-right: 20px;">
</div>
