<div fxLayout="row" fxLayourAlign="center">
    <div class="first">
        <img src="../../../assets/note/remind.png" style="width: 18px; margin-left:7px; padding-right: 7px;">
        <img src="../../../assets/note/palette.png" style="width: 18px; margin-left:7px; padding-right: 7px;">
        <img src="../../../assets/note/photo.png" style="width: 18px; margin-left:7px; padding-right: 7px;">
        <img src="../../../assets/note/archive.png" style="width: 18px; margin-left:7px; padding-right: 7px;" (click)="Archive()">
    </div><br><br><br>
    
    <!-- <img src="../../../assets/note/more.png" style="width: 18px; margin-left:8px; padding-right: 20px;"> -->
<div class="second">
     <img  mat-button [matMenuTriggerFor]="menu" src="../../../assets/note/more.png"
        style="width: 18px; margin-left:8px; padding-right: 15px;">
<mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="Trash()">Delete Note</button>
    <button mat-menu-item>Add label</button>
    <button mat-menu-item>Add drawing</button>
    <button mat-menu-item>Make a copy</button>
</mat-menu>
</div>
    
</div>
