<div fxlatout="row" >
    <img src="../../../assets/note/remind.png" style="width: 18px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/note/palette.png" style="width: 18px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/note/photo.png" style="width: 18px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/note/archive.png" style="width: 18px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/note/more.png" style="width: 18px; margin-left:8px; padding-right: 20px;">
  
</div>
