img{
    width: 18px; margin-left:7px; padding-right: 14px;height:18px;
}
.colo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(241, 238, 238);
    max-width: 170px;
    margin-left: 5px;
}