img{
    width: 18px; margin-left:7px; padding-right: 14px;height:18px;
}
// .colo{
//     display: flex;
//     flex-wrap: wrap;
//     display:table-row;
//     flex-direction: row;
//     background-color: rgb(241, 238, 238);
//     max-width: 100px;
//     margin-left: 5px;
// }
.button{
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 15px;
  
}
.rang{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(17, 16, 16);
    max-width: 202px;
    margin: 2px;
    
}