<div class="container1" fxFlex=100 fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="border" fxFlex=100 fxLayout="column" fxLayoutAlign="center">


            <div fxFlex=100 class="flexbox" fxLayout="column" fxLayoutAlign="center center">
                <h1>
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: orange;">n</span>
                    <span style="color: blue;">d</span>
                    <span style="color: green;">o</span>
                    <span style="color: red;">o</span>
                </h1>
                <h2>Find your email</h2>
                <h3>Enter your phone number or recovery email</h3>
            </div>
            <div fxFlex=100>
                <mat-form-field appearance="outline" fxFlex=100>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Enter valid Email</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" style="justify-content: right;">

                <button mat-raised-button color="primary">Next</button>

            </div>

        </div>

    </form>
</div>