.main{
    display: block;
    margin: 15px 22%;
    border: 1px solid rgb(221, 218, 212);
    padding: 30 px;
    border-radius: 5px;

   
}
.mainblock{
    // padding: 10%;
    // padding-top: 5%;
    padding: 40px;
}
::ng-deep .mat-typography h1 {
    font: 500 24px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
   
    margin: 0 0 16px;
}
::ng-deep.mat-form-field-flex {
    padding: 0 0.75em 0 0.75em;
    margin-top: -0.20em;
    position: relative;
}