<div fxLayout="row" class="main">
    <mat-card class="display" *ngFor="let noteR of NoteArray | filter:searchword" [style.background]="noteR.colour">
        <div>
            <div class="notetitle" (click)="openDialog(noteR)">

                {{noteR.title}}
                <img src="../../../assets/dashbord/pin.svg">
            </div>
            <div (click)="openDialog(noteR)" style="padding-top: 10px;">
                {{noteR.description}}

            </div>

        </div><br>

        <div>
            <app-icons [Card]="noteR" (iconstodisplay)="recievefromiconstodisplaycard($event)"></app-icons>
        </div>
    </mat-card>
</div>