
<div fxLayout="row" class="main" >
<mat-card class="display" *ngFor="let noteR of NoteArray" [style.background]="noteR.Colour" >
    <div  >
        <div  class="notetitle" (click)="openDialog(noteR)"  > 
            
           {{noteR.title}}
           <img src="../../../assets/dashbord/pin.svg"  >  
        </div>
        <div (click)="openDialog(noteR)" style="padding-top: 10px;">
            {{noteR.description}}    
           
        </div>
        
    </div><br>

    <div >
        <app-icons [Card]="noteR"></app-icons>
    </div>
</mat-card>
</div>
