<div>
  <span style="font-size: large;">Edit Label</span>
  <div fxLayout="row" style="margin-top: 20px;">

    <div>
      <img *ngIf="!isLable" (click)="hideAndShow()" src="../../../assets/label/add.png">
    </div>

    <div fxLayout="row" *ngIf="isLable">
      <img (click)="hideAndShow()" src="../../../assets/label/close.png">
      <input matInput [(ngModel)]="lableName" placeholder="Create note">
      <img (click)=" onCreate()" src="../../../assets/label/done.png">
    </div>

  </div>

  <div class="icons" *ngFor="let LabelA of lableArray" fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <img src="../../../assets/label/download.svg" (mouseover)="show()" *ngIf="!isDelete">
      <img (mouseout)="show()" *ngIf="isDelete" src="../../../assets/label/deletelabel.svg" (click)="Deletelabel(LabelA)" > 
      {{LabelA.labelName}}
    </div>
    <div>
      <img src="../../../assets/label/editpencil.svg">
    </div>



  </div>


</div>