input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:none;
    border-width: 0px;
    border: none;
    outline: none;
}

.no-outline:focus {
    outline: none;
}
.icon{
    float: bottom;
}
img{
    width: 20px; margin-left:8px; padding-right: 20px; padding-left: 100px;opacity: .7;
}