<div class="container1" fxFlex=100 fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="OnSubmit()">
        <div class="border" fxFlex=100 fxLayout="column" fxLayoutAlign="center">

            <div class="flexbox" fxLayout="column" fxLayoutAlign="center">
                <h1>
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: orange;">n</span>
                    <span style="color: blue;">d</span>
                    <span style="color: green;">o</span>
                    <span style="color: red;">o</span>
                </h1>
                <h2>Change your password</h2>
                <h3>Enter new password to change old one</h3>
            </div>
            <div>
                <mat-form-field appearance="outline" fxFlex=100>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput placeholder="Password">
                    <mat-error>Enter valid password</mat-error>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="outline" fxFlex=100>
                    <mat-label> confirm Password</mat-label>
                    <input formControlName="Confirmpassword" matInput placeholder=" Confirmpassword">
                    <mat-error> Password not match</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" style="justify-content: right;">

                <button mat-raised-button color="primary">Next</button>

            </div>

        </div>
    </form>
</div>