
.container1{
    display: block;
    margin: 25px 30%;
    border: 1px solid rgb(221, 218, 212);
    padding: 50 px;
   margin-bottom: 20%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    padding-bottom: 200px;

   
}
.border{
    padding: 2%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;

}
::ng-deep .mat-typography h1 {
    font: 500 24px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}